* {
	margin: 0;
	padding: 0
}

body {
	font-size: 12px;
	font-family: "宋体", "微软雅黑";
}


/*公共部分*/
.content {
	padding-top: 15px !important;
	margin-left: 200px;
}

.sui-container:first-child {
	margin-top: 50px;
}


/*导航*/

.nav-rewrite {
	background: #0e90d2 !important;
}

.nav-rewrite .sui-brand {
	color: #FFFFFF;
	padding: 15px 50px 15px;
}

.nav-rewrite .sui-nav>li>a {
	color: #FFFFFF;
	padding: 15px 10px 15px;
}

.nav-rewrite .sui-nav>li>a:hover {
	color: #CCCCCC;
}


/*导航*/
/*left*/

.leftsidebar_box {
	width: 200px;
	height: auto !important;
	overflow: visible !important;
	position: fixed;
	height: 100% !important;
	background-color: #d1d1d1;
	border-right: 1px solid #cecece;
}
.leftsidebar_box i{
	font-size: 17px;
    position: absolute;
    right: 10px;
    top: 1px;
}
.line {
	height: 2px;
	width: 100%;
	background-repeat: repeat-x;
}
.leftsidebar_box dl{
	margin-bottom: 1px;
}
.leftsidebar_box dt {
	padding-left: 25px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #5c5c5c;
	font-size: 14px;
	position: relative;
	line-height: 48px;
	cursor: pointer;
}

.leftsidebar_box dd {
	padding-left: 30px;
}

.leftsidebar_box dd a {
	display: block;
	color: #5c5c5c;
	background-color: #FFFFFF;
	text-decoration: none;
	padding: 10px 28px;
	margin-top:1px ;
}

.leftsidebar_box dt img {
	position: absolute;
	right: 10px;
	top: 20px;
}

/*树形图标*/

.roots_open {
	background-position: -94px 1px;
}

.roots_close {
	background-position: -76px 1px;
}

.button {
	line-height: 0;
	margin: 0;
	width: 16px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
	border: 0 none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url("../image/zTreeStandard.png");
}


/*td溢出用.......代替*/

.overhide a {
	width: 200px;
	color: #000000;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
}

.tab li {
	display: inline;
}

.tab th,
.tab td {
	padding: 10px 8px;
}

.selectednav{
	background-color: #28a3ef !important;
    color: #ffffff !important;
}